.container {
  min-height: 100vh;
  min-height: 100dvh;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: #f5f5f5;
}

.container::before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vh;
  height: 100vw;
  background-image: url('/images/home/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) rotate(90deg);
  transform-origin: center;
  z-index: 0;
}

.draggableImage {
  position: absolute;
  width: 300px;
  height: 300px;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  z-index: 10;
}

.draggableImage:active,
.draggableImage.dragging {
  cursor: grabbing;
  z-index: 20;
}

.draggableImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

@media (max-width: 768px) {
  .draggableImage {
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 480px) {
  .draggableImage {
    width: 200px;
    height: 200px;
  }
}
